In [1]:
library(tidyverse)

── Attaching packages ────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ───────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
df_island <- read_csv("Islander_data.csv")
summary(lm(Diff ~ Drug, data = df_island))
summary(lm(Diff ~ Drug - 1 , data = df_island))

Rows: 198 Columns: 9
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (4): first_name, last_name, Happy_Sad_group, Drug
dbl (5): age, Dosage, Mem_Score_Before, Mem_Score_After, Diff

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Call:
lm(formula = Diff ~ Drug, data = df_island)

Residuals:
    Min      1Q  Median      3Q     Max
-40.229  -4.835   0.529   5.088  39.530

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)    9.470      1.189   7.963 1.36e-13 ***
DrugS         -9.641      1.688  -5.711 4.15e-08 ***
DrugT        -10.058      1.695  -5.934 1.33e-08 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 9.735 on 195 degrees of freedom
Multiple R-squared:  0.1889,	Adjusted R-squared:  0.1806
F-statistic: 22.71 on 2 and 195 DF,  p-value: 1.359e-09

Call:
lm(formula = Diff ~ Drug - 1, data = df_island)

Residuals:
    Min      1Q  Median      3Q     Max
-40.229  -4.835   0.529   5.088  39.530

Coefficients:
      Estimate Std. Error t value Pr(>|t|)
DrugA   9.4701     1.1893   7.963 1.36e-13 ***
DrugS  -0.1712     1.1983  -0.143    0.887
DrugT  -0.5877     1.2075  -0.487    0.627
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 9.735 on 195 degrees of freedom
Multiple R-squared:  0.2461,	Adjusted R-squared:  0.2345
F-statistic: 21.22 on 3 and 195 DF,  p-value: 6.138e-12

In [15]:
df_chemship <- read_csv("chemship.csv")
df_chemship %>% head()
lmodel <- lm(Y ~ X1 + X2, data = df_chemship)
summary(lmodel)

Rows: 20 Columns: 4
── Column specification ───────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
dbl (4): Case, X1, X2, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Case X1 X2    Y
1 1     7  5.11  58
2 2    18 16.72 152
3 3     5  3.20  41
4 4    14  7.03  93
5 5    11 10.98 101
6 6     5  4.04  38

Call:
lm(formula = Y ~ X1 + X2, data = df_chemship)

Residuals:
    Min      1Q  Median      3Q     Max
-8.8353 -3.5591 -0.0533  2.4018 15.1515

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   3.3243     3.1108   1.069      0.3
X1            3.7681     0.6142   6.135 1.10e-05 ***
X2            5.0796     0.6655   7.632 6.89e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 5.618 on 17 degrees of freedom
Multiple R-squared:  0.9869,	Adjusted R-squared:  0.9854
F-statistic: 641.6 on 2 and 17 DF,  p-value: < 2.2e-16

In [23]:
X <- as.matrix(cbind("Inter" = rep(1, nrow(df_chemship)), df_chemship[c("X1", "X2")]))

In [24]:
X %>% head()

     Inter X1 X2
[1,] 1      7  5.11
[2,] 1     18 16.72
[3,] 1      5  3.20
[4,] 1     14  7.03
[5,] 1     11 10.98
[6,] 1      5  4.04

In [39]:
sigma <- solve(t(X)%*%X)*5.618^2
sigma

      Inter      X1         X2
Inter  9.6788378 -1.0400325  0.4692324
X1    -1.0400325  0.3773435 -0.3786606
X2     0.4692324 -0.3786606  0.4430233

In [30]:
t(X)%*%X

      Inter  X1      X2
Inter  20.00  238.00  182.240
X1    238.00 3420.00 2671.060
X2    182.24 2671.06 2161.227

In [46]:
X_0 = as.matrix(c(1,10,5))

In [50]:
sqrt(t(X_0)%*%sigma%*%X_0)

     [,1]
[1,] 2.124709

In [51]:
sigma%*%X_0

      [,1]
Inter  1.6246744
X1     0.8400996
X2    -1.1022568

In [54]:
qt(0.975, 18)

[1] 2.100922

In [55]:
error = as.numeric(t(X_0)%*%sigma%*%X_0)
error

[1] 4.514387

In [56]:
qt(0.975, 18)*sqrt(error)

[1] 4.463847

In [67]:
pred_value <- as.numeric(predict(lmodel, newdata = as.list(c("Case" = 21, "X1" = 10, "X2" = 5, "Y" = 0))))

In [70]:
pred_value + c(-1, 1) * qt(0.975, 17) * sqrt(error)

[1] 61.92058 70.88607

In [78]:
pred_value + c(-1, 1) * qt(0.975, 17) * sqrt(error + summary(lmodel)$sigma^2)

[1] 53.73190 79.07476

In [74]:
predict(lmodel, newdata = as.list(c("Case" = 21, "X1" = 10, "X2" = 5, "Y" = 0)), interval = "confidence")
predict(lmodel, newdata = as.list(c("Case" = 21, "X1" = 10, "X2" = 5, "Y" = 0)), interval = "prediction")

  fit      lwr      upr
1 66.40333 61.92094 70.88572

  fit      lwr      upr
1 66.40333 53.73202 79.07463

In [76]:
names(summary(lmodel))

 [1] "call"          "terms"         "residuals"     "coefficients"
 [5] "aliased"       "sigma"         "df"            "r.squared"
 [9] "adj.r.squared" "fstatistic"    "cov.unscaled"

In [77]:
summary(lmodel)$sigma

[1] 5.617558